@charset "UTF-8";

  .title1{
    margin-top: 40px;
    text-align: center;
  }

  .search-list{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }

  .search-list__item {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: #ddd;
    border-radius: initial;
    border: none;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }
  
  .search-list__item.is-active {
    text-decoration: underline;
  }

  .grid-item.is-hide {
    display: none;
  }

/*Layout*/
  .grid {
    max-width: 1800px;
    margin: 0 auto;
  }

  /* fluid 2 columns */
  .grid-item{
    width: 900px;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .test1 img {
    width: 750px;
    height: auto;
    outline: solid 1px black;
    margin: 0 auto;
  }

  .test2 img {
    width: 468px;
    height: auto;
    outline: solid 1px black;
    margin: 0 auto;
  }

  li{
    list-style-type: none;
  }

/*メディアクエリ*/
@media screen and (max-width: 2700px) {
  .grid {
    width: 1800px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1800px) {
  .grid {
    width: 900px;
    margin: 0 auto;
  }
}